export(.gbutton.guiWidgetsToolkitQt)
export(.ggroup.guiWidgetsToolkitQt)
export(.glabel.guiWidgetsToolkitQt)
export(.gwindow.guiWidgetsToolkitQt)
export(addToStockIcons)
export(getBlock.RQtObject)
export(getWidget.RQtObject)
importClassesFrom(gWidgets2,BasicToolkitInterface)
S3method(.addStockIcons,guiWidgetsToolkitQt)
S3method(.gaction,guiWidgetsToolkitQt)
S3method(.galert,guiWidgetsToolkitQt)
S3method(.gbasicdialog,guiWidgetsToolkitQt)
S3method(.gcalendar,guiWidgetsToolkitQt)
S3method(.gcheckbox,guiWidgetsToolkitQt)
S3method(.gcheckboxgroup,guiWidgetsToolkitQt)
S3method(.gconfirm,guiWidgetsToolkitQt)
S3method(.gedit,guiWidgetsToolkitQt)
S3method(.getStockIconByName,guiWidgetsToolkitQt)
S3method(.getStockIcons,guiWidgetsToolkitQt)
S3method(.gexpandgroup,guiWidgetsToolkitQt)
S3method(.gfile,guiWidgetsToolkitQt)
S3method(.gfilebrowse,guiWidgetsToolkitQt)
S3method(.gformlayout,guiWidgetsToolkitQt)
S3method(.gframe,guiWidgetsToolkitQt)
S3method(.ggraphics,guiWidgetsToolkitQt)
S3method(.ginput,guiWidgetsToolkitQt)
S3method(.glayout,guiWidgetsToolkitQt)
S3method(.gmessage,guiWidgetsToolkitQt)
S3method(.gnotebook,guiWidgetsToolkitQt)
S3method(.gpanedgroup,guiWidgetsToolkitQt)
S3method(.gradio,guiWidgetsToolkitQt)
S3method(.gseparator,guiWidgetsToolkitQt)
S3method(.gslider,guiWidgetsToolkitQt)
S3method(.gspinbutton,guiWidgetsToolkitQt)
S3method(.gstackwidget,guiWidgetsToolkitQt)
S3method(.gstatusbar,guiWidgetsToolkitQt)
S3method(.gtimer,guiWidgetsToolkitQt)
S3method(.stockIconFromObject,guiWidgetsToolkitQt)
