export(.gbutton.guiWidgetsToolkitQt)
export(.ggroup.guiWidgetsToolkitQt)
export(.glabel.guiWidgetsToolkitQt)
export(.gwindow.guiWidgetsToolkitQt)
export(getBlock.RQtObject)
export(getWidget.RQtObject)
importClassesFrom(gWidgets2,BasicToolkitInterface)
S3method(.gcheckbox,guiWidgetsToolkitQt)
S3method(.gcheckboxgroup,guiWidgetsToolkitQt)
S3method(.gexpandgroup,guiWidgetsToolkitQt)
S3method(.gformlayout,guiWidgetsToolkitQt)
S3method(.gframe,guiWidgetsToolkitQt)
S3method(.glayout,guiWidgetsToolkitQt)
S3method(.gnotebook,guiWidgetsToolkitQt)
S3method(.gpanedgroup,guiWidgetsToolkitQt)
S3method(.gradio,guiWidgetsToolkitQt)
S3method(.gslider,guiWidgetsToolkitQt)
S3method(.gstackwidget,guiWidgetsToolkitQt)
