S3method(.addStockIcons,guiWidgetsToolkitQt)
S3method(.gaction,guiWidgetsToolkitQt)
S3method(.galert,guiWidgetsToolkitQt)
S3method(.gbasicdialog,guiWidgetsToolkitQt)
S3method(.gbutton,guiWidgetsToolkitQt)
S3method(.gcalendar,guiWidgetsToolkitQt)
S3method(.gcheckbox,guiWidgetsToolkitQt)
S3method(.gcheckboxgroup,guiWidgetsToolkitQt)
S3method(.gcombobox,guiWidgetsToolkitQt)
S3method(.gconfirm,guiWidgetsToolkitQt)
S3method(.gdf,guiWidgetsToolkitQt)
S3method(.gedit,guiWidgetsToolkitQt)
S3method(.getStockIconByName,guiWidgetsToolkitQt)
S3method(.getStockIcons,guiWidgetsToolkitQt)
S3method(.gexpandgroup,guiWidgetsToolkitQt)
S3method(.gfile,guiWidgetsToolkitQt)
S3method(.gfilebrowse,guiWidgetsToolkitQt)
S3method(.gformlayout,guiWidgetsToolkitQt)
S3method(.gframe,guiWidgetsToolkitQt)
S3method(.ggraphics,guiWidgetsToolkitQt)
S3method(.ggroup,guiWidgetsToolkitQt)
S3method(.ghtml,guiWidgetsToolkitQt)
S3method(.gimage,guiWidgetsToolkitQt)
S3method(.ginput,guiWidgetsToolkitQt)
S3method(.glabel,guiWidgetsToolkitQt)
S3method(.glayout,guiWidgetsToolkitQt)
S3method(.gmenu,guiWidgetsToolkitQt)
S3method(.gmessage,guiWidgetsToolkitQt)
S3method(.gnotebook,guiWidgetsToolkitQt)
S3method(.gpanedgroup,guiWidgetsToolkitQt)
S3method(.gradio,guiWidgetsToolkitQt)
S3method(.gseparator,guiWidgetsToolkitQt)
S3method(.gslider,guiWidgetsToolkitQt)
S3method(.gspinbutton,guiWidgetsToolkitQt)
S3method(.gstackwidget,guiWidgetsToolkitQt)
S3method(.gstatusbar,guiWidgetsToolkitQt)
S3method(.gtable,guiWidgetsToolkitQt)
S3method(.gtext,guiWidgetsToolkitQt)
S3method(.gtimer,guiWidgetsToolkitQt)
S3method(.gtoolbar,guiWidgetsToolkitQt)
S3method(.gtree,guiWidgetsToolkitQt)
S3method(.gvarbrowser,guiWidgetsToolkitQt)
S3method(.gwindow,guiWidgetsToolkitQt)
S3method(.stockIconFromObject,guiWidgetsToolkitQt)
S3method(getBlock,RQtObject)
S3method(getTopLevel,RQtObject)
S3method(getWidget,RQtObject)
export(addToStockIcons)
import(gWidgets2)
